<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".utils.ApplicationClass"
        android:theme="@style/Theme.Muzik"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/girl_listening_to_music" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/light_gray" />

<!--        <activity-->
<!--            android:name=".ui.activities.MusicPlayerActivity"-->
<!--            android:exported="true"-->
<!--            android:windowSoftInputMode="adjustPan"-->
<!--            android:label="@string/title_activity_music_player"-->
<!--            android:theme="@style/Theme.Muzik.NoActionBar">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->
        <activity
            android:name=".ui.activities.authentication.AuthActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.authentication.WelcomeActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.authentication.SignUpActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.authentication.SignInActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true" />

        <service
            android:name=".services.MusicService"
            android:enabled="true" />
        <service
            android:name=".services.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".receiver.NotificationReceiver" android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="NEXT"/>
                <action android:name="PREVIOUS"/>
                <action android:name="PLAY"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>